.counter {
    display: flex;
    justify-content: center; /* Centrar el contador */
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    gap: 8px; /* Espacio entre los dígitos */
  }
  
  .digit {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    width: 40px; /* Ajusta el tamaño según sea necesario */
    text-align: center;
  }